*{
  font-size: 20px;
}



.sidenav {

  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2c3540;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; 

  padding: 3px 10px;
}


.header{

text-align: center;
color: white;
  border-style: solid;
  border-width: thin;
    background: #29387b;
  border-color: #edf1f5;
padding: 10px;
}

.header2{
  background: #edf1f5;

}
